<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DANH SACH SAN PHAM</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body>
  <h1>DANH SACH SAN PHAM</h1>
  <div class="container">
      <hr>
      <form>
        <input type="text" name="keyword" placeholder="Nhập vào tên sp...">
        <input type="number" name = "from_price" placeholder="Nhập giá bắt đầu...">
        <input type="number" name ="to_price" placeholder="Nhập giá kết thúc...">
<!--        <input type="submit" value="tim">-->
          <button type="submit">Tìm</button>
      </form>
      <hr>
      <table border = 1 class="product_table">
        <tr>
            <th></th>
            <th>Ma san pham</th>
            <th>Ten san pham</th>
            <th>Mo ta</th>
            <th>Gia ban</th>
        </tr>
        {% for p in product_ %}
        <tr>
            <td>
                <a href="{{url_for('product_detail', product_id = p.id)}}">
                <img src="{{url_for('static', filename = p.image)}}" width="100px" alt="{{p.name}}">
                </a>
            </td>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
            <td>{{"{:,.1f}".format(p.price)}} VND</td>
        </tr>
        {% endfor %}
    </table>
  </div>

</body>
</html>